@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model HackathonWeb.Feature.Media.Models.ImageFilterComponentModel

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<div @Html.Sxa().Component("image", Model.Attributes) style="text-align: center">
    <div class="component-content">
        @Model.MessageIsEmpty

        @if (!string.IsNullOrEmpty(Model.OriginalImage) && !string.IsNullOrEmpty(Model.FilterImage))
        {
            <h2>
                @Model.Filter
            </h2>
            <table>
                <tr>
                    <th style="text-align: center; font-weight: bold">
                        <strong>Original Image</strong>
                    </th>
                    <th style="text-align:center; font-weight: bold">
                        <strong>Filter Image</strong>
                    </th>
                </tr>
                <tr>
                    <td style="padding-right: 20px;">
                        <img src="@Model.OriginalImage" width="@Model.Width" height="@Model.Height" style="max-width: 400px" alt="original" />
                    </td>
                    <td>
                        <img src="@Model.FilterImage" width="@Model.Width" height="@Model.Height" style="max-width: 400px" alt="filter" />
                    </td>
                </tr>
            </table>
        }

        @if (Model.HasImageCaption || (!Model.HasImageCaption && Html.Sxa().IsEdit))
        {
            <span class="image-caption">
                @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
                {
                    @Html.Sitecore().Field("ImageCaption", Model.GetRenderingWebEditingParams())
                }
                else
                {
                    @Html.Sitecore().Field("ImageCaption")
                }
            </span>
        }

        @if (Model.HasImageDescription || (!Model.HasImageDescription && Html.Sxa().IsEdit))
        {
            <span class="image-caption">
                @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
                {
                    @Html.Sitecore().Field("ImageDescription", Model.GetRenderingWebEditingParams())
                }
                else
                {
                    @Html.Sitecore().Field("ImageDescription")
                }
            </span>
        }
    </div>
</div>